@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular/Circe-Regular.woff') format('woff2'), url('../fonts/Circe-Regular/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  /* background: linear-gradient(to right, #ffc0cb, #b0e0e6); */
}
.header .logo {
  color: white;
}
.header .search-form {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header .search-form_input {
  border: 1px solid grey;
  padding: 15px;
  font-family: 'Circe';
  border-radius: 5px 0 0 5px ;
  border-right: none;
  outline: none;
}
.header .search-form_btn {
  outline: none;
  border-radius: 0 5px 5px 0;
  transition-duration: 0.3s;
  padding: 15px;
  background-color: none;
  font-family: 'Circe';
  background-color: powderblue;
  border: 1px solid grey;
  border-left: none;
}
.header .search-form_btn:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}
.header .cart-wrp {
  position: relative;
}
.header .cart-wrp .cart-button {
  transition-duration: 0.3s;
  outline: none;
  width: 150px;
  height: 50px;
  background-color: powderblue;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Circe';
  color: black;
  border: 1px solid grey;
}
.header .cart-wrp .cart-button:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}
.header .cart-wrp .cart {
  transition-duration: 0.3s;
  padding: 15px;
  background-color: white;
  position: absolute;
  top: 70px;
  right: -30px;
  display: none;
  box-shadow: 0 3px 7px lightgrey;
}
.header .cart-wrp .cart:before {
  content: '';
  width: 40px;
  height: 15px;
  position: absolute;
  top: -15px;
  right: 90px;
  background: url(../img/triangle.png) center no-repeat;
  background-size: cover;
}
.header .cart-wrp .cart .cart-item {
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid powderblue;
}
.header .cart-wrp .cart .cart-item_information {
  font-family: 'Circe';
  margin: 0 20px;
}
.header .cart-wrp .cart .cart-item_information .cart-item_title {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 10px 0;
  text-align: center;
}
.header .cart-wrp .cart .cart-item_information tr {
  border: 1px solid green;
}
.header .cart-wrp .cart .cart-item_information td {
  padding: 0 10px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
.header .cart-wrp .cart .cart-item_information .quantity-less,
.header .cart-wrp .cart .cart-item_information .quantity-more {
  transition-duration: 0.3s;
  background: none;
  border: none;
  outline: none;
  margin: 0 10px;
  cursor: pointer;
  color: pink;
  font-size: 18px;
}
.header .cart-wrp .cart .cart-item_information .quantity-less:hover,
.header .cart-wrp .cart .cart-item_information .quantity-more:hover {
  color: red;
}
.header .cart-wrp .cart .cart-item_delete-btn {
  transition-duration: 0.3s;
  border: none;
  background: none;
  outline: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}
.header .cart-wrp .cart .cart-item_delete-btn:hover {
  color: #990000;
}
.header .cart-wrp .visible {
  display: block;
}
.goods-list {
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.goods-list .goods-item {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  width: 200px;
  height: 330px;
  margin: 15px;
  box-shadow: 3px 3px 7px lightgrey;
  text-align: center;
}
.goods-list .goods-item img {
  margin-bottom: 15px;
}
.goods-list .goods-item_title {
  display: inline;
  font-family: 'Circe';
  font-size: 18px;
  margin: 0 auto;
}
.goods-list .goods-item_price {
  font-family: 'Circe';
  font-size: 16px;
  width: 100%;
  margin: 0;
}
.goods-list .goods-item_button {
  transition-duration: 0.3s;
  outline: none;
  width: 150px;
  height: 50px;
  background-color: powderblue;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Circe';
  color: black;
  border: 1px solid grey;
  align-self: flex-end;
  margin: 0 auto 20px auto;
}
.goods-list .goods-item_button:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}
/* @media screen and (max-width: 559px) {
  .header {
    justify-content: center;
  }
} */
