<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/normalize.css">
    <link rel="stylesheet" href="./style/style.css">
    <title>Cotogramm</title>
</head>
<body>
        {% include 'header.tmpl' %}
        {% include 'galary.tmpl' %}
        {% include 'footer.tmpl' %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="./js/main.js"></script>  
</body>
</html>