<main class="main">
    <div class="galary">
        {% for item in dataGalary %}
            <a href="./element.php?href={{item.big}}&id={{item.id}}" class="galary__item" onclick="addViews({{item.id}})">
                <img src="{{item.small}}" alt="cat" class="galary__item__img">
                <div class='blind'>
                    <i class='fas fa-eye'></i><span class='quantity-views'>{{item.views}}</span>
                </div>
            </a>
        {% endfor %}
    </div>
</main> 