.admin-title{
    color: white;
    margin: 0;
    line-height: 50px;
}
.hidden{
    display: none;
}
.menu{
    background-color: lightgrey;
    width: 20%;
}
.menu-list{
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}
.menu-btn{
    transition-duration: 0.3s;
    width: 100%;
    border: none;
    min-height: 40px;
    height: 100%;
}
.menu-btn:hover{
    background-color: pink;
}

.goods-item_edit-block{
    max-width: 150px;
    width: 150px;
    margin-bottom: 20px;    
}
.goods-item_button-edit{
    color: black;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    display: block;
    width: 100%;
    background: none;
    padding: 5px 0;
    border: 1px solid grey;
    margin-bottom: 10px;
}
.goods-item_button-delete{
transition-duration: 0.3s;
cursor: pointer;
border-radius: 5px;
outline: none;
display: block;
background-color: white;
border: 1px solid grey;
width: 100%;
padding: 5px 0;
}
.goods-item_button-delete:hover,
.goods-item_button-edit:hover{
background-color: pink;
}

.edit-good-block{
    width: 100%;
    height: 100%;
}
.good-block{
    padding: 0 30px;
    max-width: 1000px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.good-block .header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.good-block .header-block span{
    font-size: 25px;
}
.good-block .big-img{
    width:100%;
}
.good-block .form-group{
    width: 80%;
    padding:1em;
    margin: 0 auto;
}
.good-block input[type=file]{
    width: 0;
    height: 0;
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}
.good-block input[type=text]{
    padding: 5px;
}
.good-block input[type=text]:focus{
    outline-color: powderblue;
}
.good-block textarea:focus{
    outline-color: powderblue;
}
.good-block .label{
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    border:2px dashed grey;
    border-radius:5px;display:block;
    cursor:pointer;
    text-align:center;
    background-size: 80%;
    padding: 20px;
}
.label .image{
    width: 100%;
}
.label:hover{
    border:2px solid #000
}

.good-description{
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
}
.form-submit{
    transition: background 0.3s ease;
    display: block;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid grey;
    outline: none;

}
.form-submit:hover{
    background-color: pink;

}