@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular/Circe-Regular.woff') format('woff2'), url('../fonts/Circe-Regular/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  * {
    box-sizing: border-box;
    font-family: 'Circe';
    text-decoration: none;
  }
  body{
      position: relative;
  }
  .container {
    display: flex;
    justify-content:left;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: linear-gradient(to right, #ffc0cb, #b0e0e6);
    align-items: center;
  }
  .header .logo {
    transition-duration: 0.3s;
    color: white;
    font-size: 25px;
    line-height: 50px;
  }
  .header .logo:hover{
    color: grey;
  }
  
  .header .search-form {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  .header .search-form_input {
    border: none;
    padding: 15px;
    font-family: 'Circe';
    border-radius: 5px 0 0 5px ;
    border-right: none;
    outline: none;
  }
  .header .search-form_btn {
    outline: none;
    border-radius: 0 5px 5px 0;
    transition-duration: 0.3s;
    padding: 15px;
    background-color: none;
    font-family: 'Circe';
    background-color: powderblue;
    border: none;
    border-left: none;
  }
  .header .search-form_btn:hover {
    background-color: pink;
    color: white;
    cursor: pointer;
  }
/* Стили для кнопки авторизации */
.autorization-btn{
    transition-duration: 0.3s;
    outline: none;
    cursor: pointer;
    background-color: inherit;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background: url(../../img/profile.svg) center center no-repeat;
    background-size: 60%;
}
.autorization-btn:hover{
    background-color: pink;
}
.modal-autorization{
    display: none;
    top: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    height:100%;   
}

/* стили для корзины */

  .header .cart-wrp {
    position: relative;
  }
  .header .cart-wrp .cart-button {
    transition-duration: 0.3s;
    outline: none;
    width: 150px;
    height: 50px;
    background-color: powderblue;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Circe';
    color: black;
    border: 1px solid white;
  }
  .header .cart-wrp .cart-button:hover {
    background-color: pink;
    color: white;
    cursor: pointer;
  }
  .header .cart-wrp .cart{
    position: absolute;
    right:0;
    top:55px;
    box-shadow: 0 0 1px grey;
    transition-duration: 0.3s;
  }
  .cart-item{
    transition-duration: 0.3s;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
  }
  .cart-item:hover{
    background-color: rgb(238, 238, 238);
    
  }
  .cart-item_image{
    width: 150px;
    margin-right: 10px;
  }
  .cart-item_information{
    display: flex;
    align-items: center;
  }
  .cart-item_information h4{
    font-size: 12px;
    margin: 0 0 15px 0;
    color: grey;
    font-weight: normal;
  }
  .cart-item_information_cell{
    text-align: center;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cart-item_edit-block{
    width: 100px;
  }
  .cart-item_quantity-block{
      display: flex;
  }
  .cart-item_quantity-btn{
      transition-duration: 0.3s;
      cursor: pointer;
      border: none;
      outline: none;
      background: powderblue;
  }
  .cart-item_quantity-btn:hover{
        background-color: pink;
  }
  .cart-item_quantity{
    width: 70px;
    text-align: center;
    border: none;
    outline: none;
  }
  .cart-item_quantity:focus{
    background-color: rgb(238, 238, 238)
  }
  .cart-item_edit-block_btn-buy{
    transition-duration: 0.3s;
    width: 100%;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  .cart-item_edit-block_btn-buy:hover{
    background-color: powderblue;
  }
  .cart-item_edit-block_btn-remove{
    transition-duration: 0.3s;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  .cart-item_edit-block_btn-remove:hover{
    background-color: pink;
  }

  
  .goods-list {
    width: 100%;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .goods-list .goods-item {
    border-radius: 5px;
    transition-duration: 0.3s;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid lightgrey;
    width: 200px;
    margin: 15px;
    color: black;
    text-align: center;
  }
  .goods-list .goods-item:hover{
    border-color: pink;
  }
  .goods-list .goods-item img {
    margin-bottom: 15px;
    width: 100%;
  }
  .goods-list .goods-item_title {
    display: inline;
    font-family: 'Circe';
    font-size: 18px;
    margin: 0 auto 10px auto;
  }
  .goods-list .goods-item_price {
    font-family: 'Circe';
    font-size: 16px;
    width: 100%;
    margin: 0 auto 10px auto;
  }
  .goods-item_button {
    transition-duration: 0.3s;
    outline: none;
    width: 150px;
    height: 50px;
    background-color: powderblue;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Circe';
    color: black;
    align-self: flex-end;
    margin: 0 auto 20px auto;
    border: none;
  }
  .goods-item_edit-block{
    max-width: 150px;
    width: 150px;
    margin-bottom: 20px;    
  }
  .goods-item_button-edit{
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    display: block;
    width: 100%;
    background: none;
    padding: 5px 0;
    border: 1px solid grey;
    margin-bottom: 10px;
  }
  .goods-item_button-delete{
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    display: block;
    background-color: white;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 0;
  }
  .goods-item_button:hover {
    background-color: pink;
    color: white;
    cursor: pointer;
  }
  .container_big-good{
    /* background: linear-gradient(to right, #ffc0cb, #b0e0e6); */
    padding: 50px;
    width: 100%;
  }
  .good-block{
    padding: 0 30px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
  }
  .good-block .header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .good-block .header-block span{
    font-size: 25px;
  }
  .big-img{
    width:100%;
  }

  


   @media screen and (max-width: 559px) {
    .header {
      justify-content: center;
    }
  } 
  
  .hidden{
    display: none;
  }